---
  layout: about
  title: About
---

<h1 class="visually-hidden">{{ site.data.content.about.title }}</h1>

<div class="section slimmer no-border grid column-45 mobile-block" data-scroll-section>
  <div class="thumbnail pr-6">
    <img src="{{ site.data.content.about.image }}">
  </div>
  <div class="pt-4 border-top flex vertical between">
    <div class="content">
      <p class="small muted mono mb-4">/00-1</p>
      <p class="large">
        {{ site.data.content.about.body | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    </div>
    <div class="content bottom">
      <p class="medium">{{ site.data.content.about.secondary | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    </div>
  </div>
</div>

<div class="section slim grid mobile-block no-margin" data-scroll-section>
  <p class="small muted mono mb-4">/00-2</p>
  <h2 class="x-large">{{ site.data.content.about.experience.title }}</h2>

  <ul class="experience">
    {% for job in site.data.content.about.experience.jobs %}
    <li class="pt-6 pb-6 border-bottom flex between center">
      <div class="title">
        <p>{{ job.role }}</p>
        <p class="muted mt-4">{{ job.company }}</p>
      </div>
      <div class="time flex center">
        <p class="mr-2">
          {% assign date = job.from_date | split: ' ' %}
          <span class="mobile-hide">{{ date[0] }}</span> {{ date[1] }}
        </p>
        {% capture size %}20{% endcapture %}
        {% include icons/icon-arrow-right.html %}
        <p class="ml-2">
          {% unless job.to_date == 'Present' %}
            {% assign date = job.to_date | split: ' ' %}
            <span class="mobile-hide">{{ date[0] }}</span> {{ date[1] }}
          {% else %}
            {{ job.to_date }}
          {% endunless %}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
  <a class="align-right" href="/assets/resume.pdf">
    <p class="large fit-content right">Download Resume</p>
  </a>
</div>

{% include contact.html %}