---
layout: default
title: 'Home'
---
<div class="section slim no-border" data-scroll-section>
  <h2 class="x-large">{{ site.data.content.index_heading }}</h2>
</div>

<div class="section" data-scroll-section>
  <p class="large">
    <span class="heading_small">{{ site.data.content.index_about_heading }}</span>
    {{ site.data.content.index_about | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
  {% if site.data.content.index_about_cta %}
    <a href="/about/" class="primary">{{ site.data.content.index_about_cta }}</a>
  {% endif %}
</div>

<div class="section" data-scroll-section>
  <h2>Projects</h2>
  {% for project in site.projects %}
    <li>
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
    </li>
  {% endfor %}
</div>