---
  layout: default
  title: Projects
---
<div class="section no-border grid column-55 mobile-block center between" data-scroll-section>
  <h1 class="xx-large letter-animate" id="projects-h1" data-scroll data-scroll-call="text-animate+projects-h1">{{ site.data.content.homepage.projects.title }}</h1>
  <p class="medium mt-4 animate__fadeIn" id="projects-desc" data-scroll data-scroll-call="animate-in+projects-desc">{{ site.data.content.homepage.projects.body | markdownify | remove: "<p>" | remove: "</p>" }}</p>
</div>

{% for project in site.projects %}
  <div class="section slim no-border grid column-auto mobile-block" data-scroll-section>
    <div class="thumbnail project pr-5 w-55 mw-756">
      <a href="{{ project.url }}">
        <div class="image_container">
          <img src="{{ project.thumbnail }}">
        </div>
      </a>
    </div>
    <div class="project-info flex vertical between pt-4">
      <div class="top">
        <div class="count flex between mb-4">
          <p class="muted mono small">/00-{{ forloop.index }}</p>
          <p class="muted mono small">/00-{{ site.projects | size }}</p>
        </div>
        <a class="secondary flex between center" href="{{ project.url }}">
          <p class="project-title">{{ project.title }}</p>
          {% capture size %}20{% endcapture %}
          {% include icons/icon-arrow-right.html %}
        </a>
        <div class="project-description">
          <p class="mt-4">{{ project.description }}</p>
        </div>
      </div>
      <div class="bottom">
        <p class="muted">{{ project.listing_type }}</p>
      </div>
    </div>
  </div>
{% endfor %}

{% include contact.html %}