<div id="project-brief" class="section slimmer flex between mobile-block mobile-collapse" data-scroll-section>
  <div class="column">
    <h3 class="mb-3 letter-animate" id="brief-timeline-h3" data-scroll data-scroll-call="text-animate+brief-timeline-h3">Project Timeline</h3>
    <p class="muted animate__fadeIn" id="brief-timeline-body" data-scroll data-scroll-call="animate-in+brief-timeline-body">{{ page.timeline }}</p>
  </div>
  <div class="column">
    <h3 class="mb-3 letter-animate" id="brief-type-h3" data-scroll data-scroll-call="text-animate+brief-type-h3">Project Type</h3>
    <p class="muted animate__fadeIn" id="brief-type-body" data-scroll data-scroll-call="animate-in+brief-type-body">{{ page.type }}</p>
  </div>
  <div class="column">
    <h3 class="mb-3 letter-animate" id="brief-contrib-h3" data-scroll data-scroll-call="text-animate+brief-contrib-h3">Contributors</h3>
    <ul class="contributors animate__fadeIn" id="brief-contrib-body" data-scroll data-scroll-call="animate-in+brief-contrib-body">
      {% for contributor in page.contributors %}
      <li class="contributor">
        <p class="mb-1 muted">{{ contributor.role }}</p>
        {% if contributor.url != '' %}
          <a href="{{ contributor.url }}" class="muted" target="_blank" rel="noopener nofollow">
            {{ contributor.name }}
          </a>
        {% else %}
          <p class="muted">{{ contributor.name }}</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="column">
    <h3 class="mb-3 letter-animate" id="brief-mycontrib-h3" data-scroll data-scroll-call="text-animate+brief-mycontrib-h3">My Contribution</h3>
    <ul class="animate__fadeIn" id="brief-mycontrib-body" data-scroll data-scroll-call="animate-in+brief-mycontrib-body">
      {% for contribution in page.contributions %}
        <li class="mb-2">
          <p class="muted">{{ contribution.label }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>