<div class="section slimmer{% if classes %} {{ classes }}{% endif %}" data-scroll-section>
  <p class="medium letter-animate" id="contact-title" data-scroll data-scroll-call="text-animate+contact-title">{{ site.data.content.homepage.contact.title }}</p>
  <div class="contact-repeat animate__fadeIn" id="contact-repeat" data-scroll data-scroll-call="animate-in+contact-repeat">
    <a href="/contact/" class="secondary">
      <p>
        {{ site.data.content.homepage.contact.body }}
        <span class="spacer">{{ site.data.content.homepage.contact.spacer }}</span>
        {{ site.data.content.homepage.contact.body }}
        <span class="spacer">{{ site.data.content.homepage.contact.spacer }}</span>
        {{ site.data.content.homepage.contact.body }}
        <span class="spacer">{{ site.data.content.homepage.contact.spacer }}</span>
      </p>
    </a>
  </div>
</div>