<div class="section slimmer" data-scroll-section>
  <p class="medium">{{ site.data.content.homepage.contact.title }}</p>
  <div class="contact-repeat">
    <a href="/contact/" class="secondary">
      <p>
        {{ site.data.content.homepage.contact.body }}
        <span class="spacer">{{ site.data.content.homepage.contact.spacer }}</span>
        {{ site.data.content.homepage.contact.body }}
        <span class="spacer">{{ site.data.content.homepage.contact.spacer }}</span>
        {{ site.data.content.homepage.contact.body }}
        <span class="spacer">{{ site.data.content.homepage.contact.spacer }}</span>
      </p>
    </a>
  </div>
</div>