<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/locomotive-scroll.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png" />
  <meta property="og:title" content="{{ site.title }} | {{ page.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="/assets/img/social-share.jpg" />
  <meta name="twitter:title" content="{{ site.title }} | {{ page.title }}">
  <meta name="twitter:description" content=" {{ site.description }}">
  <meta name="twitter:image" content="/assets/img/social-share.jpg">
  <meta name="twitter:card" content="summary_large_image">
</head>