<div class="section slimmer no-border flex between center" data-scroll-section>
  <div class="grid column-25 mobile-100 center grow">
    <div class="site-title">
      <a class="secondary" href="/">
        {% if page.url == '/' %}
          <h1 class="text-animate" id="nav-h1" data-scroll data-scroll-call="text-animate+nav-h1">{{ site.title }}</h1>
        {% else %}
          <p class="m-0 text-animate" id="nav-h1" data-scroll data-scroll-call="text-animate+nav-h1">{{ site.title }}</p>
        {% endif %}
      </a>
    </div>
    <p class="role mobile-hide">
      <span class="text-animate" id="nav-role" data-scroll data-scroll-call="text-animate+nav-role">
        {{ site.data.content.navigation.job_title }}
      </span>
      <span class="dash" id="role-dash" data-scroll data-scroll-call="animate-in+role-dash" data-scroll-delay="1"></span>
    </p>
  </div>
  <button class="mobile-menu mobile-only animate__fadeIn" id="mobile-menu-btn" data-scroll data-scroll-call="animate-in+mobile-menu-btn">Menu</button>
  <div class="nav_links">
    <div class="flex between mobile-only">
      <a href="/" class="secondary">
        <p>{{ site.title }}</p>
      </a>
      <button class="mobile-menu">Close</button>
    </div>
    <ul class="links">
      <li class="link">
        <a href="/projects/" class="secondary {% if page.url contains '/projects/' %}active{% endif %}">
          <span class="text-animate" id="link-projects" data-scroll data-scroll-call="text-animate+link-projects">Projects</span> <span class="num muted mono animate__fadeIn" id="project-count" data-scroll data-scroll-call="animate-in+project-count">{{ site.projects | size }}</span></p>
        </a>
      </li>
      {% for item in site.data.content.navigation.menu %}
        <li class="link">
          {% assign item_link = item.link | append: '/' %}
          <a href="{{ item.link }}" class="secondary{% if page.url == item_link %} active{% endif %}">
            <p class="text-animate" id="link-{{ item.name | handleize }}" data-scroll data-scroll-call="text-animate+link-{{ item.name | handleize }}">{{ item.name }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
    <p class="role bottom white mobile-only">
      {{ site.data.content.navigation.job_title }}
      <span class="dash"></span>
    </p>
  </div>
</div>