* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: $color-off-white;
  color: $color-text;
  font-family: 'Haas Grot Disp Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
::selection {
  background: $color-highlight;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $color-off-white;
}
::-webkit-scrollbar-thumb {
  background: $color-accent;
}
::-webkit-scrollbar-thumb:hover {
  background: darken($color-accent, 10); 
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: $color-accent;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transform: scale(1) translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;

  &.active {
    transform: scale(1.8) translate(-25%, -25%);
  }
}

a {
  color: $color-accent;
  text-decoration: underline;
  &.primary {
    text-decoration: underline;
    color: $color-accent;
  }
  &.secondary {
    color: $color-text;
    text-decoration: none;
  }
}

.projects,
.process {
  width: 50%;
  justify-self: flex-end;

  li.project {
    padding: 3em 0;
    border-bottom: 1px solid $color-border;
    display: grid;
    grid-template-columns: 28px 50% 1fr 28px;
    align-items: center;

    .num {
      top: 0;
      align-self: flex-start;
    }
  }
  .item {
    padding: 3em 0;
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: flex-start;

    p.body {
      line-height: 2em;
    }
  }
}

.contact-repeat {
  padding: 3em 0;
  width: 110%;
  position: relative;
  left: -5%;
  white-space: nowrap;
  overflow: hidden;

  span.spacer {
    margin: 0 0.5em;
  }
}