* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: $color-off-white;
  color: $color-text;
  font-family: 'Haas Grot Disp Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
::selection {
  background: $color-highlight;
}

a {
  color: $color-accent;
  text-decoration: underline;
  &.primary {
    text-decoration: underline;
    color: $color-accent;
  }
  &.secondary {
    color: $color-text;
    text-decoration: none;
  }
}

.projects {
  width: 50%;
  justify-self: flex-end;

  li {
    padding: 3em 0;
    border-bottom: 1px solid $color-border;
  }
}