* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: $color-off-white;
  color: $color-text;
  font-family: $font-main;
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
  overflow-x: hidden;
}
::selection {
  background: $color-highlight;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $color-off-white;
}
::-webkit-scrollbar-thumb {
  background: $color-accent;
}
::-webkit-scrollbar-thumb:hover {
  background: darken($color-accent, 10); 
}

.c-scrollbar_thumb {
  background: $color-accent !important;
  opacity: 1 !important;
  &:hover {
    background: darken($color-accent, 10) !important;
  }
}

#cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: $color-border;
  transition: height 0.3s, width 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 2;
  pointer-events: none;

  &.active {
    height: 68px;
    width: 68px;
    border-color: $color-accent;
  }
}

a {
  color: $color-accent;
  text-decoration: underline;
  &.primary {
    text-decoration: underline;
    color: $color-accent;
  }
  &.secondary {
    color: $color-text;
    text-decoration: none;
  }
}

.projects,
.process {
  width: 50%;
  justify-self: flex-end;
  position: relative;

  a {
    display: block;
  }

  @media only screen and (max-width: $mobile) {
    width: unset;
  }
}
.projects {
  pointer-events: none;
  grid-row: 1;
  width: 100%;

  li.project {
    padding: 3em 0;
    border-bottom: 1px solid $color-border;
    display: grid;
    grid-template-columns: 28px 50% 1fr 28px;
    align-items: center;
    position: relative;

    &:after {
      content: '';
      height: 1px;
      width: 0;
      position:absolute;
      bottom: 0;
      left: 0;
      background: $color-text;
      transition: width 0.6s cubic-bezier(0.87, 0, 0.13, 1);
      z-index: -2;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }

    .num {
      top: 0;
      align-self: flex-start;
    }

    @media only screen and (max-width: $mobile) {
      grid-template-columns: 28px 1fr 28px;
    }
  }
  & > * {
    transition: opacity 0.4s ease-in-out;
    pointer-events: auto;
  }
  &:hover > * {
    opacity: 0.3;
  }
  & > *:hover {
    opacity: 1;
  }
}

.project-thumbnail {
  width: 85%;
  height: 500px;
  grid-row: 1;
  overflow: hidden;
  position: relative;

  .slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: clip-path 0.6s cubic-bezier(0.87, 0, 0.13, 1);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      transform: scale(1.4);
      transition: transform 4s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &.active img,
    &.deactive img {
      transform: scale(1);
    }
  }

  @media only screen and (max-width: $mobile) {
    display: none;
  }
}
.project-thumbnail.direction {
	&_right {
		.slide {
			clip-path: inset(0 100% 0 0);
		}
		.slide.deactive {
			clip-path: inset(0 0 0 100%);
		}
		.slide.active {
			clip-path: inset(0 0 0 0);
			z-index: 98;
		}
	}	
	&_left {
		.slide {
			clip-path: inset(0 0 0 100%);
		}
		.slide.deactive {
			clip-path: inset(0 100% 0 0);
		}
		.slide.active {
			clip-path: inset(0 0 0 0);
			z-index: 98;
		}
	}
	&_down {
		.slide {
			clip-path: inset(0 0 100% 0);
		}
		.slide.deactive {
			clip-path: inset(100% 0 0 0);
		}
		.slide.active {
			clip-path: inset(0 0 0 0);
			z-index: 98;
		}
	}
	&_up {
		.slide {
			clip-path: inset(100% 0 0 0);
		}
		.slide.deactive {
			clip-path: inset(0 0 100% 0);
		}
		.slide.active {
			clip-path: inset(0 0 0 0);
			z-index: 98;
		}
	}
}

.process {
  .item {
    padding: 3em 0;
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: flex-start;

    p:first-of-type {
      font-size: 1.1em;
    }
    p.body {
      line-height: 2em;
    }

    @media only screen and (max-width: $mobile) {
      padding: 1.5em 0;
      display: block;
    }
  }
}

.contact-repeat {
  padding: 3em 0;
  width: 100vw;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  left: 50%;
  transform: translateX(-50%);

  span.spacer {
    margin: 0 0.5em;
  }

  p {
    font-size: 10vw;

    @media only screen and (min-width: $mobile) {
      animation: scrolling 6s linear infinite;
    }
    @media only screen and (max-width: $mobile) {
      font-size: 20vw;
      animation: scrolling_mobile 6s linear infinite;
    }
  }
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-65.4%);
    }
  }
  @keyframes scrolling_mobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-130.9%);
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 1.5em 0;
  }
}

.footer {
  p:first-of-type {
    max-width: 70%;
    line-height: 1.5em;
  }
}