$mid-tablet: '1465px';
$tablet: '1024px';
$mobile: '768px';

.mobile-hide {
  @media only screen and (max-width: $mobile) {
    display: none !important;
  }
}
.mobile-only {
  @media only screen and (min-width: $mobile) {
    display: none !important;
  }
}
.mobile-block {
  @media only screen and (max-width: $mobile) {
    display: block !important;

    &:not(.no-margin) {
      div {
        margin-bottom: 3em;
  
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button.plain {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font-size: 1em;
  font-family: $font-main;
  cursor: pointer;

  &.large {
    font-size: 1.5em;
  }
}

ul {
  padding: 0;
  list-style-type: none;

  &.inline {
    li {
      display: inline-block;
      margin-right: 2em;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
li {
  list-style-type: none;
}
.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: auto;
}

.flex {
  display: flex;
  &.vertical {
    flex-direction: column;
  }
  &.between {
    justify-content: space-between;
  }
  &.end {
    justify-content: flex-end;
  }
  &.top {
    align-items: flex-start;
  }
  &.center {
    align-items: center;
  }
  &.bottom {
    align-items: flex-end;
  }
}

.full {
  width: 100%;
}
.grow {
  flex-grow: 1;
}

.grid {
  display: grid;
  &.column-20 {
    grid-template-columns: 20vw 1fr;
  }
  &.column-25 {
    grid-template-columns: 25vw 1fr;
  }
  &.column-30 {
    grid-template-columns: 30vw 1fr;
  }
  &.column-40 {
    grid-template-columns: 40vw 1fr;
  }
  &.column-45 {
    grid-template-columns: 45vw 1fr;
  }
  &.column-50 {
    grid-template-columns: 1fr 1fr;
  }
  &.column-55 {
    grid-template-columns: 55vw 1fr;
  }
  &.column-60 {
    grid-template-columns: 60vw 1fr;
  }
  &.column-70 {
    grid-template-columns: 70vw 1fr;
  }
  &.center {
    align-items: center;
  }

  &.mobile-100 {
    @media only screen and (max-width: $mobile) {
      display: block;
    }
  }

  .align-right {
    align-self: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
}

.section {
  padding: 8em 0;
  border-top: 1px solid $color-border;

  &.no-border {
    border-top: none;
  }
  &.slim {
    padding: 6em 0;

    @media only screen and (max-width: $mobile) {
      padding: 2em 0;
    }
  }
  &.slimmer {
    padding: 2em 0;
  }
  &.full-height {
    min-height: calc(100vh - 230px);

    &.center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 2em 0;
  }

  &.mobile-collapse {
    @media only screen and (max-width: $mobile) {
      height: fit-content;
      max-height: 0;
      padding: 0;
      border-top-color: transparent;
      overflow: hidden;
      transition: all 0.6s ease-in-out;
  
      &.active {
        max-height: 2000px;
        padding: inherit;
        padding: 2em 0;
        border-top: 1px solid $color-border;
      }
    }
  }
}

.max-40 {
  max-width: 40%;

  @media only screen and (max-width: $mobile) {
    max-width: unset;
  }
}

.border {
  &-top {
    border-top: 1px solid $color-border;
  }
  &-bottom {
    border-bottom: 1px solid $color-border;
  }
  &-left {
    border-left: 1px solid $color-border;
  }
  &-right {
    border-right: 1px solid $color-border;
  }
}