h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
  font-weight: normal;
  margin: 0;

  &.x-large {
    font-size: 10vw;
  }
  &.large {
    font-size: 2em;
    line-height: 2em;
  }

  span {
    &.heading_small {
      font-size: 0.5em;
      margin-right: 5em;
    }
  }
}