<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="cursor" class="mobile-hide"></div>
    <div class="wrapper" data-scroll-container>
      {% include navigation.html %}

      {% include project/count.html %}
      
      <h1 class="xx-large text-animate" id="project-title" data-scroll data-scroll-call="text-animate+project-title" data-scroll-section>{{ page.title }}</h1>
      <div class="section slimmer flex between center mt-5" data-scroll-section>
        <p class="large letter-animate" id="project-count" data-scroll data-scroll-call="text-animate+project-count">{{ current_index | prepend: '00' | slice: -2, 2 }} / {{ site.projects | size | prepend: '00' | slice: -2, 2 }}</p>
        <button id="project-brief-trigger" class="plain large">Project Brief</button>
      </div>
      
      {% include project/brief.html %}

      <div class="section slimmer project-content" data-scroll-section>
        {{ content }}
      </div>

      {% include project/pagination.html %}

      {% include footer.html %}
    </div>
    {% include scripts.html %}
    <script>
      document.querySelectorAll('img').forEach(function(x, i) {
        x.classList.add('img-animate', 'img-animate__reveal_bottom');
        x.id = `img-${i}`;
        x.setAttribute('data-scroll', '');
        x.setAttribute('data-scroll-call', `animate-in+img-${i}`);
      });
    </script>
  </body>
</html>